body {
    background-color: #F7F9F2;
}

p {
    color: #304463;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #304463
    ;
}
#menu {
    display: flex;
    justify-content: center;
}
.nav {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: aliceblue;
    background-color:hsl(277, 100%, 38%);
    float:left;
    padding: 10px 20px;
    margin: 1.5px; 
}
.nav:hover {
    background-color: hsla(201, 100%, 80%, 0.506);
    color: #000000;
}
#about {
    align-items: center;
}
#about p {
    text-align: center;
}
#cash {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    font-weight: bold;
    color: rgb(255, 157, 0);
}
#data {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#data p{
    font-family: Arial, Helvetica, sans-serif;

}
ul {
    list-style-type: none;
}
img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card {
    font-family: Tahoma, sans-serif;
    width: 20%;
    margin:10px;
    box-shadow: 0 3px 7px 0 black;
    transition: 0.5s;
    border-radius: 10px;
    background-color: aliceblue;
}
.card:hover {
    box-shadow: 0 8px 20px 0 black;
}
.card button {
    display: block;
    margin: 0 auto;
    background: #304463;
    color: aliceblue;
    border-radius: 999px;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    padding: 8px 18px;
}
.card button:hover {
    background: #215bfc;
}

.fundraiser-info {
    padding:8px;
}
#contact {
    text-align: center;
}
#organiser, #city {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    box-sizing: border-box;
}
#category {
    width: 100%;
    padding: 16px 20px;
    border-radius: 10px;
}
#searchform {
    width: 30%;
    margin: auto;
}
label {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction:column;
}
input {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    display:flex;
    flex-direction:column;
}
select {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
label {
    margin:8px;
}
#errorMessage {
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: red;
}
#submit, #clear {
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

/* Fundraiser page */

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  
  #desc{
    font-size: 20pt;
  }

  .column p {
    font-size: 14pt;
  }
